*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/config.properties
app/debug/
app/development/
app/production/
app/release/
/buildSrc/build/

key.properties
*.jks
app/google-services.json
#mobile/google-services.json
